{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

{% if sdata.apiStatus == 'Failure' %}

{{sdata.msg}}


{% else %}

<h2>All Live Surveys</h2>
{{sdata.msg}}

<table class="table table-striped">
<tr>
    <th scope="col">surveyId </th>
    <th scope="col">surveyName</th>
    <th scope="col">N</th>
    <th scope="col">Complete</th>
    <th scope="col">Remaining</th>
    <th scope="col">LOI</th>
    <th scope="col">IR</th>
    <th scope="col">CPI</th>
    <th scope="col"></th>
</tr>
{% for res in sdata.surveys %}
<tr>
    <td><a href="#" >{{res['survey_id']}}</a> </td>
    <td>{{res['survey_name']}}</td>
    <td>{{res['supplier_completes']['needed']}}</td>
    <td>{{res['supplier_completes']['achieved']}}</td>
    <td>{{res['supplier_completes']['remaining']}}</td>
    <td>{{res['survey_performance']['overall']['loi']}}</td>
    <td>{{res['survey_performance']['overall']['ir']}}</td>
    <td>{{res['cpi']}}</td>

    <td scope="col"><button type="submit" class="btn btn-primary btn-color" onclick='getredirect({{res["surveyId"]}})'>Redirects</button></td>

</tr>

{%endfor%}
</table>

</div>


{% endif %}



{% block javascript %}
    <script type="text/javascript">
      function surveydetails(PID) {
        window.location.href = "/invoatemr/getdetails?pid="+PID;
      }
      function getredirect(PID) {
        window.location.href = "/invoatemr/getredirect?pid="+PID;
      }
      function setredirect(PID) {
        window.location.href = "/invoatemr/setredirect?pid="+PID;
      }

</script>
{% endblock %}







{% endblock %}
